.quzeSingle {
	padding: 50px 0px;
}

.quiz-left {
	background-color: gray;
	border-radius: 10px;
}

.quiz-header {
	background-color: rgb(152, 202, 185);
	border-radius: 10px;
	padding: 30px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quzeSingle h3 {
	margin-bottom: 0px;
}